* {
  box-sizing: border-box;
}


body {
  background: url("felhok.jpg") fixed no-repeat;
  background-size: cover;
}
header {
  width: 25%;
  float: left;
}

header img {
  height: 90%;
  width: 35%;
  border: 3px solid yellow;
  border-radius: 10%;
  margin-right: 5%;
  float: left;
}

.nev {
  color: yellow;
  float: left;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1, h2 {
  margin-left: 0px;
}

.sidebar {
  margin-top: 180px;
}

.sidebar a {
    padding: 8px 2px 8px 2px;
    font-size: 25px;
    color: red;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
   color: yellow;
 }

#kapcsolat {
  padding-bottom: 0px;
}

#bemutatkozas {
  width: 75%;
  height: 40vh;
  margin-top: 250px;
  float: left;
  text-align: center;
  color: black;
  font-size: 25px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#fenykepek {
  width: 75%;
  height: 40vh;
  margin-top: 250px;
  float: left;
  text-align: center;
  color: black;
  font-size: 25px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#kapcsolatok {
  width: 75%;
  height: 40vh;
  margin-top: 250px;
  float: left;
  text-align: center;
  color: black;
  font-size: 25px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#kapcsolatok a {
  text-decoration: none;
  color: blue;
}

#kapcsolatok a:hover {
  color:yellow;
}

table {
  margin: 10px 100px 0px 0px;
  float: right;
}

caption, td, tr {
  border: 1px solid black;
}

caption {
  height: 50px;
  font-size: 40px;
}

td {
  width: 120px;
  height: 90px;
  font-weight: bold;
}

.napok {
  text-align: center;
  height: 5px;
  font-size: 20px;
}

img {
  width: 80%;
  height: 80%;
}

table img:hover {
  transform: scale(1.5);
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 1.0;
  padding: 6px 12px;
  margin-bottom: 10px;
  border: 10px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  vertical-align: middle;
  background-color: yellow;
}

.btn:hover {
  background-color: red;
}

.button-nav-e {
  display: inline-block;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: #000;
  padding: .1rem 0.1rem;
  border: 1px solid #000;
}

.button-nav-k {
  display: inline-block;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: #000;
  padding: .1rem 0.1rem;
  border: 1px solid #000;
}

.button-nav-e:hover {
  background-color: yellow;
  color: red;
}

.button-nav-k:hover {
  background-color: yellow;
  color: red;
}